<!DOCTYPE html>
html(lang="jp")
head
  meta(charset="UTF-8")
  title gibbon logo svg
  
  link(rel="stylesheet", href="./assets/css/style.css")
body#top
  include /_partials/cover
  script(src="./assets/js/index.js")
  
