@charset "UTF-8";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

// ==========================================================================
// Foundation
// ==========================================================================
// Mixins
@import "foundation/mixins/_clearfix";

//Reset
//@import "normalize";

// ==========================================================================
// Vendor
// ==========================================================================

// ==========================================================================
// Layout
// ==========================================================================


// ==========================================================================
// Object
// ==========================================================================
// -----------------------------------------------------------------
// Component
// -----------------------------------------------------------------
@import "object/component/_cover";

@import "object/component/_svg";


// -----------------------------------------------------------------
// Project
// -----------------------------------------------------------------



// -----------------------------------------------------------------
// Utility
// -----------------------------------------------------------------
